[user]
	name = Daniel Gonçalves
	email = daniel.gonc@lves.fr
	username = dangoncalves
[alias]
	st = status
	br = branch
	df = diff
	dc = diff --cached
	co = checkout
	ci = commit
        my-log = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset)-%C(bold green)(%ar)%C(reset)%C(white)%s%C(reset)%C(dim white)-%an%C(reset)%C(bold yellow)%d%C(reset)' --all
[push]
	default = simple
[color]
	ui = auto
[merge]
	tool = ediff3
[core]
	editor = emacs
	excludesfile = /home/daniel/.gitignore_global
[commit]
	gpgsign = false
[init]
	defaultBranch = main
